/*Paramètres généraux*/

body
{
    background-color: rgb(200, 199, 199);
    font-family: Montserrat, verdana;
}

section
{
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    position: relative;
}

a
{
    color: rgb(0, 176, 235);
    display: block;
    font-weight: 500;
    font-size: 0.8em;
}

h2
{
    padding-bottom: 5px;
    margin: 0;
    font-weight: 500;
    font-size: 1.4em;
}

/*Section Ebooks avec petites maisons*/

.maisons
{
    display: flex;
    justify-content: center;
}

.ebooks img
{
    width: 90px;
    margin: 0px 15px;
}

/*Flexbox sur toutes les sections suivantes*/

.container
{
    display: flex;
    flex-wrap: wrap;
}

/*Section sur le jardin avec le blé et section sur find.*/

.jardin-find
{
    width: 300px;
}

.four
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.four img
{
    width: 140px;
}

/*Section sur la nutrition avec l'arbre et section sur l'innovation avec l'arbre*/

.nutrition-innovation
{
    width: 320px;
}

.nutrition-innovation img
{
    width: 300px;
}

/*Bien positionner les liens de fin et les liens sous les produits*/
.last-link
{
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.four a
{
    padding-left: 8px;
}